<div class="table-page">
  <app-card cardTitle="pages.patients.title" [options]="false">
    <div class="table-toolbar">
      <p-button [label]="'pages.patients.add' | translate" icon="pi pi-plus" (click)="addPatient()" />
      <p-iconfield iconPosition="left" class="search-input">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="'common.search' | translate" />
      </p-iconfield>
    </div>

    <p-table #dt1 [value]="patients" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" paginatorStyleClass="datta-paginator" [showFirstLastIcon]="false" [globalFilterFields]="['firstName', 'lastName', 'phone', 'email']" showGridlines>
      <ng-template #caption>
        <div class="flex">
          <p-button [label]="'common.clear' | translate" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.patients.firstName' | translate }}
              <p-columnFilter type="text" field="firstName" display="menu" />
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.patients.lastName' | translate }}
              <p-columnFilter type="text" field="lastName" display="menu" />
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.patients.phone' | translate }}
              <p-columnFilter type="text" field="phone" display="menu" />
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.patients.email' | translate }}
              <p-columnFilter type="text" field="email" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">{{ 'common.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-patient>
        <tr>
          <td>{{ patient.firstName }}</td>
          <td>{{ patient.lastName }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.email }}</td>
          <td>
            <p-button icon="pi pi-eye" [outlined]="true" (click)="showPatientDetails(patient)" [pTooltip]="'pages.patients.details' | translate" />
            <p-button icon="pi pi-pencil" [outlined]="true" (click)="editPatient(patient)" />
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="deletePatient(patient.id!)" />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5">{{ 'pages.patients.empty' | translate }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorpreviouspagelinkicon">
        {{ 'pagination.previous' | translate }}
      </ng-template>
      <ng-template pTemplate="paginatornextpagelinkicon">
        {{ 'pagination.next' | translate }}
      </ng-template>
    </p-table>
  </app-card>
</div>
