<h2  mat-dialog-title>{{  data  ? 'Modifier  Charge'  :  'Ajouter Charge'  }}</h2>
<mat-dialog-content>
   <form  [formGroup]="form">
       <mat-form-field appearance="fill">
           <mat-label>Description</mat-label>
          <input  matInput formControlName="description">
       </mat-form-field>

       <mat-form-field appearance="fill">
           <mat-label>Montant</mat-label>
          <input  matInput type="number"  formControlName="amount">
       </mat-form-field>

      <mat-form-field  appearance="fill">
          <mat-label>Catégorie</mat-label>
           <mat-select formControlName="category">
              <mat-option  *ngFor="let  c of  categories"  [value]="c">{{  c }}</mat-option>
           </mat-select>
      </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions  align="end">
   <button  mat-button (click)="cancel()">Annuler</button>
    <button mat-raised-button  color="primary"  (click)="save()">Enregistrer</button>
</mat-dialog-actions>
