<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:void(0)" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification">
        <div class="notification-head">
          <h6 class="d-inline-block m-b-0">{{ 'header.notifications' | translate }}</h6>
          <div class="float-end">
            <a href="javascript:void(0)" class="m-r-10 text-decoration-none">{{ 'header.markAsRead' | translate }}</a>
            <a href="javascript:void(0)" class="text-decoration-none">{{ 'header.clearAll' | translate }}</a>
          </div>
        </div>
        <ul class="notification-body">
          <li class="n-title">
            <p class="m-b-0">{{ 'header.new' | translate }}</p>
          </li>
          <li class="notification">
            <div class="d-flex">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image" />
              <div class="flex-grow-1">
                <p>
                  <strong>John Doe</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    now
                  </span>
                </p>
                <p>New ticket Added</p>
              </div>
            </div>
          </li>
          <li class="n-title">
            <p class="m-b-0">{{ 'header.earlier' | translate }}</p>
          </li>
          <li class="notification">
            <div class="d-flex">
              <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image" />
              <div class="flex-grow-1">
                <p>
                  <strong>Joseph William</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    10 min
                  </span>
                </p>
                <p>Prchace New Theme and make payment</p>
              </div>
            </div>
          </li>
          <li class="notification">
            <div class="d-flex">
              <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image" />
              <div class="flex-grow-1">
                <p>
                  <strong>Sara Soudein</strong>
                  <span class="n-time text-muted">
                    <i class="icon feather icon-clock m-r-10"></i>
                    30 min
                  </span>
                </p>
                <p>currently login</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="notification-footer">
          <a href="javascript:void(0)">{{ 'header.showAll' | translate }}</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:void(0)" data-toggle="dropdown" [title]="'languages.select' | translate">
        <i class="icon feather icon-globe"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end language-menu">
        @for (lang of languages; track lang.code) {
          <button
            type="button"
            class="dropdown-item d-flex align-items-center justify-content-between"
            [class.active]="isCurrentLanguage(lang.code)"
            (click)="selectLanguage(lang.code)"
          >
            <span>{{ lang.labelKey | translate }}</span>
            @if (isCurrentLanguage(lang.code)) {
              <i class="feather icon-check"></i>
            }
          </button>
        }
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown #userDropdown="ngbDropdown" placement="auto" autoClose="true">
      <a href="javascript:void(0)" ngbDropdownToggle data-toggle="dropdown" (click)="$event.preventDefault()">
        <i class="icon feather icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img [src]="avatarSrc" class="img-radius" alt="User-Profile-Image" />
          <span>{{ displayName }}</span>
          <a href="javascript:void(0)" class="dud-logout" [title]="'header.logout' | translate" (click)="logout()">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li>
            <button type="button" class="dropdown-item" ngbDropdownItem (click)="goToProfile($event)">
              <i class="feather icon-user"></i>
              {{ 'header.profile' | translate }}
            </button>
          </li>
          <li>
            <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
              <i class="feather icon-log-out"></i>
              {{ 'header.logout' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
