.language-menu .dropdown-item.active {
  background-color: rgba(4, 169, 245, 0.1);
  color: #04a9f5;
}

.language-menu .dropdown-item {
  min-width: 160px;
}

:host ::ng-deep .profile-notification .dropdown-item {
  width: 100%;
  text-align: left;
  border: 0;
  background: transparent;
}
