<div class="table-page">
  <app-card cardTitle="pages.expenses.title" [options]="false">
    <div class="table-toolbar">
      <p-button [label]="'pages.expenses.add' | translate" icon="pi pi-plus" (click)="addExpense()" />
      <p-iconfield iconPosition="left" class="search-input">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="'common.search' | translate" />
      </p-iconfield>
    </div>

    <p-table #dt1 [value]="expenses" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [globalFilterFields]="['description', 'amount', 'category', 'createdAt', 'paidBy']" showGridlines>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.expenses.description' | translate }}
              <p-columnFilter type="text" field="description" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.expenses.amount' | translate }}
              <p-columnFilter type="numeric" field="amount" display="menu" currency="EUR" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.expenses.category' | translate }}
              <p-columnFilter type="text" field="category" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.expenses.dateTime' | translate }}
              <p-columnFilter type="date" field="createdAt" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.expenses.paidBy' | translate }}
              <p-columnFilter type="numeric" field="paidBy" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">{{ 'common.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-e>
        <tr>
          <td>{{ e.description }}</td>
          <td>{{ e.amount | currency:'EUR' }}</td>
          <td>{{ e.category }}</td>
          <td>{{ e.expenseDate || e.createdAt | date:'short' }}</td>
          <td>{{ e.paidByName || e.paidBy }}</td>
          <td>
            <p-button icon="pi pi-pencil" [outlined]="true" (click)="editExpense(e)" />
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="deleteExpense(e.id!)" />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">{{ 'pages.expenses.empty' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </app-card>
</div>
