<div class="table-page">
  <app-card cardTitle="pages.payments.title" [options]="false">
    <div class="table-toolbar">
      <p-button [label]="'pages.payments.add' | translate" icon="pi pi-plus" (click)="addPayment()" />
      <p-iconfield iconPosition="left" class="search-input">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="'common.search' | translate" />
      </p-iconfield>
    </div>

    <p class="page-summary">{{ 'common.total' | translate }} : {{ totalAmount | appCurrency }}</p>

    <p-table #dt1 [value]="payments" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" paginatorStyleClass="datta-paginator" [showFirstLastIcon]="false" [globalFilterFields]="['patientName', 'amount', 'date', 'method', 'status', 'label']" showGridlines>
      <ng-template #caption>
        <div class="flex">
          <p-button [label]="'common.clear' | translate" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.patient' | translate }}
              <p-columnFilter type="text" field="patientName" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.amount' | translate }}
              <p-columnFilter type="numeric" field="amount" display="menu" currency="MAD" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.date' | translate }}
              <p-columnFilter type="date" field="date" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.method' | translate }}
              <p-columnFilter type="text" field="method" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.status' | translate }}
              <p-columnFilter type="text" field="status" display="menu" />
            </div>
          </th>
          <th style="min-width:12rem">
            <div class="flex items-center justify-between">
              {{ 'pages.payments.label' | translate }}
              <p-columnFilter type="text" field="label" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">{{ 'common.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-p>
        <tr>
          <td>{{ getPatientName(p.patientId) }}</td>
          <td>{{ p.amount | appCurrency }}</td>
          <td>{{ p.date | date:'shortDate' }}</td>
          <td>{{ p.method }}</td>
          <td>{{ p.status }}</td>
          <td>{{ p.label || ('pages.payments.singleSession' | translate) }}</td>
          <td>
            <p-button icon="pi pi-pencil" [outlined]="true" (click)="editPayment(p)" />
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="deletePayment(p.id!)" />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="7">{{ 'pages.payments.empty' | translate }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorpreviouspagelinkicon">
        {{ 'pagination.previous' | translate }}
      </ng-template>
      <ng-template pTemplate="paginatornextpagelinkicon">
        {{ 'pagination.next' | translate }}
      </ng-template>
    </p-table>
  </app-card>
</div>
