<h2  mat-dialog-title>{{  data  ? 'Modifier  Patient'  :  'Ajouter Patient'  }}</h2>
<mat-dialog-content>
   <form  [formGroup]="form">
       <mat-form-field appearance="fill">
           <mat-label>Prénom</mat-label>
          <input  matInput formControlName="firstName">
       </mat-form-field>

       <mat-form-field appearance="fill">
           <mat-label>Nom</mat-label>
          <input  matInput formControlName="lastName">
       </mat-form-field>

       <mat-form-field appearance="fill">
           <mat-label>Date de  naissance</mat-label>
          <input  matInput  type="date"  formControlName="birthDate">
      </mat-form-field>

       <mat-form-field  appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input  matInput  formControlName="phone">
      </mat-form-field>

       <mat-form-field  appearance="fill">
          <mat-label>Email</mat-label>
          <input  matInput  formControlName="email">
      </mat-form-field>

         <mat-form-field appearance="fill">
           <mat-label>Adresse</mat-label>
          <input  matInput formControlName="address">
       </mat-form-field>

       <mat-form-field appearance="fill">
           <mat-label>Notes médicales</mat-label>
           <textarea matInput  formControlName="medicalNotes"></textarea>
       </mat-form-field>
   </form>
</mat-dialog-content>

<mat-dialog-actions  align="end">
   <button  mat-button  (click)="cancel()">Annuler</button>
   <button  mat-raised-button  color="primary" (click)="save()">Enregistrer</button>
</mat-dialog-actions>