<div  class="seance-list">
   <button  mat-raised-button  color="primary"  routerLink="/seances/agenda">Voir Agenda</button>

   <table  mat-table  [dataSource]="seances"  class="mat-elevation-z8">
      <ng-container  matColumnDef="patientId">
          <th  mat-header-cell  *matHeaderCellDef>Patient</th>
          <td  mat-cell  *matCellDef="let s">{{  s.patientId  }}</td>
       </ng-container>

       <ng-container  matColumnDef="therapistId">
          <th  mat-header-cell  *matHeaderCellDef>Thérapeute</th>
          <td  mat-cell *matCellDef="let  s">{{  s.therapistId  }}</td>
      </ng-container>

       <ng-container  matColumnDef="dateTime">
          <th  mat-header-cell *matHeaderCellDef>Date</th>
           <td mat-cell  *matCellDef="let  s">{{  s.dateTime |  date:'short'  }}</td>
       </ng-container>

       <ng-container  matColumnDef="duration">
          <th  mat-header-cell  *matHeaderCellDef>Durée (min)</th>
           <td mat-cell  *matCellDef="let  s">{{  s.duration }}</td>
       </ng-container>

       <ng-container matColumnDef="type">
           <th mat-header-cell  *matHeaderCellDef>Type</th>
          <td  mat-cell  *matCellDef="let  s">{{ s.type  }}</td>
       </ng-container>

      <ng-container  matColumnDef="status">
          <th  mat-header-cell  *matHeaderCellDef>Statut</th>
          <td  mat-cell  *matCellDef="let s">{{  s.status  }}</td>
       </ng-container>

       <ng-container  matColumnDef="actions">
          <th  mat-header-cell  *matHeaderCellDef>Actions</th>
          <td  mat-cell *matCellDef="let  s">
              <button  mat-icon-button color="warn"  (click)="deleteSeance(s.id!)">
                 <mat-icon>delete</mat-icon>
              </button>
          </td>
       </ng-container>

       <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
       <tr  mat-row *matRowDef="let  row;  columns:  displayedColumns;"></tr>
   </table>
</div>
