table  {
   width:  100%;
   margin-top:  20px;
}

button  {
   margin-bottom:  10px;
}

.subscriber-link {
  border: none;
  background: none;
  color: #04a9f5;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}
