<div class="table-page">
  <app-card cardTitle="pages.users.title" [options]="false">
    <div class="table-toolbar">
      <p-button [label]="'pages.users.add' | translate" icon="pi pi-plus" (click)="addUser()" />
      <p-iconfield iconPosition="left" class="search-input">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="'common.search' | translate" />
      </p-iconfield>
    </div>

    <p-table #dt1 [value]="users" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" paginatorStyleClass="datta-paginator" [showFirstLastIcon]="false" [globalFilterFields]="['username', 'email', 'role', 'enabled']" showGridlines>
      <ng-template #caption>
        <div class="flex">
          <p-button [label]="'common.clear' | translate" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.users.username' | translate }}
              <p-columnFilter type="text" field="username" display="menu" />
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex items-center justify-between">
              {{ 'pages.users.email' | translate }}
              <p-columnFilter type="text" field="email" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.users.role' | translate }}
              <p-columnFilter type="text" field="role" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center justify-between">
              {{ 'pages.users.active' | translate }}
              <p-columnFilter type="boolean" field="enabled" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">{{ 'common.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-u>
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.role }}</td>
          <td>{{ u.enabled ? ('common.yes' | translate) : ('common.no' | translate) }}</td>
          <td>
            <p-button icon="pi pi-pencil" [outlined]="true" (click)="editUser(u)" />
            <p-button icon="pi pi-key" [outlined]="true" (click)="resetPassword(u)" [pTooltip]="'pages.users.resetPassword' | translate" />
            <p-button icon="pi pi-trash" [outlined]="true" severity="danger" (click)="deleteUser(u.id!)" />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5">{{ 'pages.users.empty' | translate }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorpreviouspagelinkicon">
        {{ 'pagination.previous' | translate }}
      </ng-template>
      <ng-template pTemplate="paginatornextpagelinkicon">
        {{ 'pagination.next' | translate }}
      </ng-template>
    </p-table>
  </app-card>
</div>

<p-confirmDialog></p-confirmDialog>
